/******************************************************************
Hoja de estilo personalizada para iniciar sesión en Bones

Diseñada por Eddie Machado
http://themble.com/bones
hello@themble.com

Esta hoja de estilo es cargada (si admin.php esta incluido en su
archivo de funciones) en la pagina de inicio de sesión. De este modo puedes
modificar la página de inicio de sesión. No afectará otras páginas, administración o diseño.

Para más información, visita el codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/


body.login {} 


#login {} /* la caja del formulario */

/*
Este es el logo de Wordpress en el área de administración.
Tendrás que cargar tus propias imágenes y jugar
con el ancho y el alto de estas.
*/
h1 a {
	background: url(../images/login-logo.png) no-repeat top center; /* asegurate de reemplazar esto! */
	width: 326px;
	height: 67px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

form {
	margin-left: 8px;
	padding: 26px 24px 46px;
	font-weight: normal;
	background: white;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: none;
	 -khtml-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

body form .input {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-weight: 200;
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
	outline: none;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	   -moz-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
			box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

/*
Vas a tener que reemplazar algunos de los estilos predeterminados
pero como estamos referenciando el id, debería ser fácil.
*/
#wp-submit {} /* botón de inicio de sesión*/